@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@1,900&display=swap');

body {
  margin: 0;
  background: #000000;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.animate-shimmer {
  animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
  0%, 100% { opacity: 0.8; filter: brightness(1) drop-shadow(0 0 5px white); }
  50% { opacity: 0.4; filter: brightness(3) drop-shadow(0 0 20px white); }
}
